body{
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    background: gray;
}

body div{
    background: white;
}

.container {
	width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #f77f00;
}

/* header */
#header{
    padding-bottom: 80px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.nav-menu li{
    list-style: none;
}

.nav-menu-head{
    float: left;
}

.nav-menu li h3 {
    display: block;
    padding: 5px 12px;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid white;
    color: #686663;
    white-space: nowrap;
}

.nav-menu li h3:hover {
    background: #EFEFEF;
}

.nav-menu li ul {
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid white;
    z-index:100;
}

.nav-menu li ul li {
    float: none;
    padding-left: 10px;
}

.nav-menu li ul li a {
    width: auto;
    text-decoration: none;
    color: #f77f00;
}

.nav-menu li ul li a:hover {
    color: #686663;
}

.logo {
    float: right;
}

/* content */
#content{
    clear: both;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content h1{
    padding-top: 20px;
    font-weight: bold; 
    padding-left: 30px;
}

#content p{
    padding-top: 10px;
}

#content .inner-content{
    margin-left: auto;
    margin-right: auto;
}

#content .meat{
    padding-left: 30px;
    padding-right: 30px;
}

/* footer */
#footer{
    width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #686663;
    margin-left: auto;
    margin-right: auto;
}
